.container{
    display: flex;
    justify-content: center;
   

}
#amt{
    margin-top: 20px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid black;
}
#btn{
    border-radius: 5px;
    width: 75px;
    height: 40px;
    margin-left: 20px;
    margin-top: 20px;
    border-color: white;
    background-color: black;
    color: white;
    box-shadow: inset;
    font-size: large;
    font-weight: 100;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    
}

#btn:hover {
    /* background-color:red; */
    background: linear-gradient(to bottom right, #28f921 0%, #28f921 100%);
  border:2px solid black;
    color: black;
    box-shadow: 5px 5px 5px rgb(21, 20, 20);
    transition: all .10s ease-in-out;
}
.usernum{
    width: 50px;
    height: 40px;
    margin-left: 10px;
    border: 2px solid black;
    border-radius: 5px;
    /* background-color: rgb(238, 6, 238); */
    text-align: center;
    font-weight: bold;

}
body{
    background-color: rgb(255, 37, 37);
  
    
}
.numbers
{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 30px;
    margin-left: 580px;

}
#btn1{
    border-radius: 5px;
    width: 100px;
    margin-left: 20px;
    border-color: white;
    background-color: black;
    color: white;
    font-size: large;
    font-weight: 100;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#btn1:hover {
    /* background-color:red; */
    background: linear-gradient(to bottom right, #28f921 0%, #28f921 100%);
  border:2px solid black;
    color: black;
    box-shadow: 5px 5px 5px rgb(21, 20, 20);
    transition: all .10s ease-in-out;
}
#spinnerVideo{
    display: flex;
    justify-content: center;
    border-radius: 100px;
    margin-left: 400px;
    margin-top: 50px;
}
#jackpot{
    display: flex;
    justify-content: center;
    margin-left: 50px;
}
#dynamicInputContainer{
    display: flex;
    justify-content: center;
    width: 5px;
    height: 40px;
    margin-left: 580px;
    margin-top: 40px;
    
}
#winAmt{
    margin-top: 20px;
}